go 1.22.5

use (
	.
	./build/ci/dagger
	./internal/dagger
	./svc/backtests/build/ci/dagger
	./svc/backtests/pkg/dagger
	./svc/candlesticks/build/ci/dagger
	./svc/candlesticks/pkg/dagger
	./svc/exchanges/build/ci/dagger
	./svc/exchanges/pkg/dagger
	./svc/forwardtests/build/ci/dagger
	./svc/forwardtests/pkg/dagger
	./svc/indicators/build/ci/dagger
	./svc/indicators/pkg/dagger
	./svc/ticks/build/ci/dagger
	./svc/ticks/pkg/dagger
)
